.DS_Store
.gradle
.idea
.intellijPlatform
.kotlin
.qodana
build/
!build/distributions/
!build/distributions/*.zip

# Google Cloud credentials
credentials/
*.json
caches/
wrapper/
native/
daemon/
kotlin-profile/
POSTMAN_GUIDE.md
WEBSOCKET_TEST.md
SPEECH_API_SETUP.md
